#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container, .container-fluid{
  flex-grow: 1;
}

.btn{
  border-radius: 6px;
  border: 2px solid hsl(180, 100%, 25%);
  background: #FFF;
  color: #008080;
  font-family: 'Chalet', Courier, monospace;
}

.btn:hover{
  background-color: #F1C40F;
  border-color: #F1C40F;
  color: #f5f5f5;
}
.truncate-cell{
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
  @font-face {
    font-family: "Chalet";
    src: local("Chalet"),
    url("./fonts/ChaletLondonNineteenSixty.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Sofia Pro";
    src: url("./src/fonts/sofiapro-light.otf") format("truetype");
  }
  
  @font-face {
    font-family: "SF UI Display";
    src: url("./src/fonts/SFUIText-Regular.otf") format("truetype");
  }
  
  body{
    font-family: "SF UI Display";
  }
  
  h1{
    font-family: "Chalet";
  }
  
  h2{
    color: #008080;
    font-family: "Sofia Pro";
  }

.card a{
  background-color: transparent;
}
.card a:hover{
  background-color: transparent;
  border: none;
}

.img-logo{
  max-width: 50px;
}